{% extends 'base.html.twig' %}

{% block body %}

    {{ include('navigation/navigation.html.twig') }}
    <div class="container">
    {% if eventsByDay is defined %}
        {% for events in eventsByDay %}
            {%  include 'eventtable.html.twig' with {'events': events}  %}
        {% endfor %}
    {% else %}
        {{ include('eventtable.html.twig') }}
    {% endif %}
    </div>
{% endblock %}