{% extends 'base.html.twig' %}

{% block body %}
{{ dump(events) }}
    {% for event in events %}
    <ul>
        <li>{{ event.title }}</li>
        <li>{{ event.start|date("r") }}</li>
    </ul>
    {% endfor %}
{% endblock %}