{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        {% for event in events %}
            <tbody>
            <tr>
                <td>{{ event.start|date("r") }}</td>
                <td>{{ event.provider }}</td>
                <td><b>{{ event.title }}</b></td>
                <td>{{ event.description }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}